.formCriarAstros {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    margin-top: 200px;
}

.formCriarAstros form {
    background-color: var(--background-color);
    border-radius: 20px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
    max-width: 80%;
    padding: 36px 64px;
}

.formCriarAstros form h1 {
    margin-bottom: 25px;
}